html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Josefin Sans", sans-serif;
    background-color: #f3deaf;
  }

  h1 {
    font-size: 60px;
    text-align: center;
    font-family: "Spectral", serif;
    margin: 0;
    padding: 20px 0;
    color: #ba7336;
    text-shadow: 3px 3px 1px black;
  }

  h2 {
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;
  }
  
  p,
  li {
    font-size: 16px;
    color: #ffffff;
    /*line-height: 2;*/
    letter-spacing: 1px;
  }

  body {
    width: 90%;
    margin: 0 auto;
    background-color: #531412;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }

  a:link {
    color: #f3deaf;
  }

  a:visited {
    color: #ba7336;
  }

  a:hover{
    color: grey;
  }

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  header img {
    display: block;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  nav {
    height: 25px;
    flex: 100%;
    display: flex;
  }
  
  nav ul {
    padding: 0;
    padding-bottom: 100px;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a, nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  
  }

  header {
    margin-bottom: 10px;
    /* display: flex; */
    flex-flow: row wrap;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    text-align: center;
  }

  img{
    max-width: 100%;
    height: auto;
  }

  nav + img{
    margin-top: 10px;
  }