html {
    font-size: 10px;
    font-family: "Josefin Sans", sans-serif;
    background-color: #f3deaf;
    color: #ffffff
  }

  h1 {
    font-size: 60px;
    text-align: center;
    font-family: "Spectral", serif;
    margin: 0;
    padding: 20px 0;
    color: #ba7336;
    text-shadow: 3px 3px 1px black;
  }

  h2 {
    font-size: 20px;
    color: #ba7336;
    /* letter-spacing: 1px; */
    text-align: center;
  }

  h3 {
    font-size: 16px;
    text-align: center;
  }
  
  p, li, dl {
    font-size: 16px;
    letter-spacing: 1px;
    padding: 0 10px 0 10px;
  }

  dd{
    padding-bottom: 10px;
  }

  body {
    width: 90%;
    margin: 0 auto;
    background-color: #531412;
    /* padding: 0 20px 20px 20px; */
    border: 5px solid black;
  }

  a:link {
    color: #f3deaf;
  }

  a:visited {
    color: grey;
  }

  a:hover{
    color: #ffffff;
  }

  nav a:link {
    color: #531412;
  }

  nav a:visited {
    color: #531412;
  }

  nav a:hover{
    color: #ffffff;
  }

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  header img {
    display: block;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  nav {
    height: 5rem;
    flex: 100%;
    display: flex;
    padding: 5px;
    background-color: #ba7336;
  }
  
  nav ul {
    padding: 0;
    padding-bottom: 100px;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1 1;
  }
  
  nav a, nav span {
    display: inline-block;
    font-size: 1.5rem;
    height: 3rem;
    line-height: 2;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  
  }

  header {
    margin-bottom: 10px;
    /* display: flex; */
    flex-flow: row wrap;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    text-align: center;
  }

  img{
    max-width: 100%;
    height: auto;
  }

  nav + img{
    margin-top: 10px;
  }

  h2 + ul{
    text-align: center;
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
  }

  footer {
    background-color: #ba7336;    
    padding: 5px 0px 10px;
  }

  footer h2{
    color:#531412;
  }