html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Josefin Sans", sans-serif;
    background-color: #ffffff;
  }

  h1 {
    font-size: 60px;
    text-align: center;
    font-family: "Spectral", serif;
    margin: 0;
    padding: 20px 0;
    color: #ffd700;
    text-shadow: 3px 3px 1px black;
  }
  
  p,
  li {
    font-size: 16px;
    color: #ffffff;
    /*line-height: 2;*/
    letter-spacing: 1px;
  }

  body {
    width: 1200px;
    margin: 0 auto;
    background-color: #5B0D0E;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }

  a:link {
    color: #ffffff;
  }

  a:visited {
    color: #858585;
  }

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .center{
    text-align: center;
  }

  header img {
    display: block;
    height: 60px;
    padding-top: 20.15px;
  }
  
  nav {
    height: 50px;
    flex: 100%;
    display: flex;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a, nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  
  }

  header {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
  }